body {
  background-color: pink;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.createBtn {
  cursor: pointer;
}

.content {
  position: relative;
}

.itemLists {
  position: relative;
}

.stickerBoard {
  position: absolute;
  width: 300px;
  min-height: 150px;
  border-radius: 8px;
  opacity: 0.9;
  cursor: pointer;
}

.stickerTitle {
  color: white;
}

.itemList {
  /* position: absolute; */
  width: 250px;
  height: 40px;
  margin: 10px 0;
  background-color: rgb(255, 172, 172);
  z-index: 1;
}


.stickerTop {
  margin-top: 18px;
  margin-left: 18px;
}

.stickerBottom {
  margin-top: 18px;
  margin-left: 18px;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
  margin-bottom: 1rem;
}


.draggable {
  cursor: move;
  margin-bottom: 1rem;
  user-select: none;

  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;

  /* Size */
  height: 4rem;
  width: 16rem;

  /* Misc */
  border: 1px solid #cbd5e0;
}